@charset 'UTF-8';
@import 'bourbon';
@import 'utils/variables';
@import 'utils/functions';
@import 'utils/media';
@import 'utils/mixins';
@import 'utils/placeholders';

@import 'base/reset';
@import 'base/typography';
@import 'base/global';

@import 'components/loader';
@import 'components/navbar';
// @import 'components/buttons';
@import 'components/hamburguer';
// @import 'components/maps';
// @import 'components/tooltips';

@import 'layout/footer';

.lf-story{
    //background: $ligth-grey;
}
.lf-testimonial{
    //background: $gradient-yellow-green;
}
.lf-shop-section{
    background: $ligth-grey;
}
.testimonial-card{
    background: $white;
}
.porduct-card{
    //border: 1px solid $medium-grey;
    background: $white;
    box-shadow: 0px 2px 14px -2px rgba(0,0,0,0.3);
}